doctype html
html
  head
    title= title
    link(rel='stylesheet', href='//cdn.jsdelivr.net/bootstrap/3.3.0/css/bootstrap.min.css')
  body
    block content
    script(src='/socket.io/socket.io.js')
    script(src='//cdn.jsdelivr.net/underscorejs/1.7.0/underscore-min.js')
    script(src='//cdn.jsdelivr.net/momentjs/2.8.3/moment.min.js')
    script(src='//cdn.jsdelivr.net/angularjs/1.2.25/angular.min.js')
    script(src='//cdn.jsdelivr.net/angular.ui-router/0.2.11/angular-ui-router.min.js')
    script(src='//cdn.jsdelivr.net/angular.moment/0.8.2/angular-moment.min.js')
    script(src='/scripts/vendor/socket.min.js')
    script(src='/scripts/app.js')
